@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: r */
  themes: dracula, nord;
}
@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
