@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: r */
  themes: dracula, nord;
}

.btn {
  @apply rounded-md;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
